@import "ui-variables.less";

html, body, #workspace-view {
  height: 100vh;
  padding: 0;
  margin: 0;
}

body {
  background-color: @app-background-color;
  color: @text-color;
  font-family: @font-family;
  font-size: @font-size;
}

#workspace-view {
  display: flex;
}

#sidebar {
  flex: 1 1 0px;
  margin: 5px 0px 5px 5px;
}

#editor {
  flex: 3 3 0px;
  margin: 5px;
}

.database-view {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.list {
  background-color: @inset-panel-background-color;
  border-color: @inset-panel-border-color;
  border: solid 1px;
  flex-grow: 1;
  margin: 0px;
  padding: 0px;
}

ul li.record {
  cursor: default;
  list-style-type: none;
  line-height: @component-line-height;

  &:hover {
    background-color: @background-color-highlight;
  }

  &.selected {
    background-color: @background-color-selected;
  }
}
